.inicioContainer {
  background: linear-gradient(135deg, #ffd633 0%, #ffaa00 100%);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inicioConteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: surgirSuave 1s ease-out;
}

.inicioLogo {
  width: 400px;
  max-width: 85vw;
  filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.2));
  margin-bottom: 15px;
  transition: transform 0.4s ease;
}

.inicioLogo:hover {
  transform: scale(1.03);
}

.inicioSlogan {
  color: #8c2b04;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  text-align: center;
  letter-spacing: 0.5px;
}

.inicioBotao {
  padding: 18px 45px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #d32f2f;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  font-weight: 900;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(211, 47, 47, 0.4);
  transition: all 0.3s ease;
}

.inicioBotao:hover {
  background-color: #b71c1c;
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(211, 47, 47, 0.6);
}

.inicioBotao:active {
  transform: translateY(2px) scale(0.95);
  box-shadow: 0 4px 10px rgba(211, 47, 47, 0.4);
}