*{
  font-family: poppins, sans-serif;
}

.mainContainer {
  width: 100%;
  padding: 0;
}

.tituloCardapio {
  text-align: center;
  color: #333;
  margin-top: 40px;
  margin-bottom: 10px;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin-top: 20px;
}
