* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #ffffff;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: none;
}